# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.log
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.VSCodeCounter
USER/Listings
USER/Objects
build
dist

/MDK-ARM/.vscode/uv4.log
/MDK-ARM/.cmsis/include
/MDK-ARM/.eide
/MDK-ARM/MDK-ARM.code-workspace
/MDK-ARM/.vscode/settings.json
/MDK-ARM/.vscode/tasks.json
/MDK-ARM/.clang-format
/MDK-ARM/.vscode/uv4.log.lock
/MDK-ARM/*.hex
/MDK-ARM/*.bin
/MDK-ARM/.pack
